:root{
    /* 背景色 红 */
    --red: '#da231b';

    /* 背景色 灰 */
    --bgc: '#9e9e9e';

    /* 分割线 */
    --fgx: '#ececec';

    /* 阴影 */
    --boxshaow: '0 -2px 5px rgba(0,0,0,0.5)';
}
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}